﻿@model Test_9.Models.DepartmentModels.DepartmentModel

<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
        <div class="form-group">
            <input asp-for="Id" value="@Model.Id" type="hidden" class="form-control " />
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    </div>
</form>