﻿@using Microsoft.AspNetCore.Identity
@using Test_9.DAL.Entities
@model IEnumerable<Test_9.Models.DepartmentModels.DepartmentModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top:50px">Отделы</h1>

<p style="margin-top:15px ">
    <a asp-action="Create" style="color: red">Добавить отдел</a>
</p>
<table class="table" style="margin-top:40px ">
    <thead class="header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <td>
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>

                    </td>
                    <td>
                        @{ await Html.RenderPartialAsync("_DeletePartialView", item);}
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

    <style>
        .header {
            background-color: rgb(8, 49, 115);
            font-family: sans-serif;
            text-transform: uppercase;
            color: white;
            letter-spacing: 2px;
        }
    </style>
