﻿@{
    ViewData["Title"] = "ADMIN";
}
<h1>@ViewData["Admin"]</h1>

<div>
    <div>
        <b>Структура (уровни подразделений, подразделения, должности)</b>
    </div>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Создать Пользователя</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Подразделения</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Position" asp-action="Index">Должности</a>
        </li>
    </ul>
    <div>
        <b>Отделы</b>
    </div>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Все отделы</a>
        </li>
        
    </ul>


</div>

